{% extends "base.html.twig" %}

{% block title %}About{% endblock %}

{% block content %}
<h1>About</h1>


<p class="important">
Welcome to my awesome about-page.
<a href="https://github.com/simonking99/mvc-me-report">Github repo</a>
</p>

<p>Run the <a href="{{ path("lucky-number" )}}"> Lucky number lottery</a></p>

{% endblock %}
