{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}

{% block content %}
<h1>Home</h1>

<p class="important">
<img src="img/me.jpg" alt="Simon" width="200" height="200">
Welcome to my awesome homepage.
</p>

{% endblock %}
