Kmom01
----------------------
<h3>Berätta kort om dina förkunskaper och tidigare erfarenheter kring objektorientering.</h3>
Har faktiskt inte jobbat med oophp tigidare. Har dock jobbat med objektorientering inom python och det känns att det inte är så olikt varandra.

<h3>Berätta kort om PHPs modell för klasser och objekt. Vilka är de grunder man behöver veta/förstå för att kunna komma igång och skapa sina första klasser?</h3>
De grunder man behöver veta för att förstå och skapa sin första klass är att en klass är en mall som objekt skapas utifrån. Om man har skapat ett objekt
så har man alltså skapat en instans av klassen.

<h3>Reflektera kort över den kodbas, koden, strukturen som användes till uppgiften me/report, hur uppfattar du den?</h3>
Det var lite nytt för mig faktiskt att jobba med Symfony. Jag kände dock att det var mycket att hålla koll på men det var
inga problem om man följde youtube. Tyckte att redan efter första delen av föreläsningen så hade jag rätt bra koll på hur de olika
mappstrukturerna och filerna är sammankopplade.

<h3>Med tanke på artikeln “PHP The Right Way”, vilka delar in den finner du extra intressanta och värdefulla?
Är det några särskilda områden som du känner att du vill veta mer om?
Lyft fram några delar av artikeln som du känner mer värdefulla.</h3>
Den delen som jag finner extra intresant är debuging. Det är intressant att förstå hur viktigt och
bra det kan kan vara med en bra debugger speciellt när man gör stora program så att man lätt kan felsöka
och åtgärda fel. Jag gillar även att de har lagt upp kodexempel för "basic php programing".

<h3>Vilken är din TIL för detta kmom?</h3>
Min TIL för detta kmom är att jag har fått en inblick i hur man arbetar med ramverket Symfony.
